/******************* CSS Reset *******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***************** Global Styles *****************/
html *{
    font-family: 'PT Sans', sans-serif;
	box-sizing: border-box;
}


/***************** Common Styles ******************/



/***************** Homepage Styles ****************/
.homepage{
	color: #105B63;
	width: 100%;
	height: 100vh;
	background-color: #fffad5;
	/*background-image: linear-gradient(#002F2F, #046380, #002F2F);*/
}

.homepage .container{
	position: absolute;
	min-width: 500px;
	min-height: 300px;
	left: calc(50% - 250px);
	top: calc(50vh - 150px);
	border: 1px solid red;
}

.homepage h2{
	font-family: 'Varela Round', sans-serif;
	font-size: 3rem;
	width: 100%;
	text-align: center;
	margin-top: 5rem;
}

.homepage #btn_container{
	margin: 2rem 0 0 0;
	width: 100%;
	text-align: center;
}

.homepage button{
	box-sizing: border-box;
	font-size: 1rem;
	border: none;
	padding: 1rem 2rem;
	border-radius: 5px;
	box-shadow:inset 0 0 0 0 #014954;
	transition: box-shadow 300ms ease-out;
	color: #fffad5;
	background-color: #105B63;
}

.homepage button:hover{
	transition: box-shadow 300ms ease-in;
	box-shadow:inset 0 0 5px 2rem #014954;
}

.homepage button:first-child{
	margin-right: 2rem;
}
