/******************* CSS Reset *******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***************** Global Styles *****************/
html *{
    font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}


/***************** Featured Styles *****************/
.featured{
	position: relative;
	height: 100vh;
	width: 100%;
	background: #222 url("../media/images/background.jpeg") no-repeat center center;
}

.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	width: 100%; 
	height: 100%;
}

.featured p#info{
	position: absolute;
	top: 30vw;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1.8vw;
}

.featured h2{
	position: absolute;
	top: 24vw;
	width: 100%;
	text-align: center;
}
.featured #logo{
	position: absolute;
	width: 10vw;
	height: 10vw;
	background-color: hsl(52, 84%, 63%);
	box-shadow: 0px 0px 0px 3px white;
	left: 45vw;
	top: 12vw;
	animation: color-transition 60s linear infinite;
}
.featured #logo:hover{
	cursor: pointer;
}

@keyframes color-transition{
	from {filter: hue-rotate(0);}
    to {filter: hue-rotate(360deg);}
}

.featured #logo p{
	position: absolute;
	font-size: 4.8vw;
	bottom: 0;
	right: 0.5vw;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.featured h2{
	color: white;
	font-size: 4vw;
	text-align: center;
}